@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: black --default;
}

@layer base {
  object.email {
    height: 2em;
    margin: -1em 0;
    vertical-align: middle;
  }
}
